@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    120 Barnsley Road<br />
    Wakefield<br />
    West Yorkshire<br />
    Wf1 5NX<br />
    &#9742;  01234 567890<br/>
    &#9993; <a href="mailto:info@greenleafwills.co.uk?subject=Green Leaf Wills Enquiry">info@greenleafwills.co.uk</a><br />
</address>